{% extends 'base.html' %}

{% block content %}
    <section class="single-post">
   	  <div class="container">
   	   <div class="row">

         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-body">
             <center>
             <h2>Don't worry! We sorted it out.<h2><br>

              <h4>A link has been sent to your email. Please change your password by accessing that link</h4><br><br>

              <a href="{% url 'user_auth:home' %}" style="color:grey">Go back to home</a>
               </center>
           </div><!--/ modal-body -->

          </div><!--/ modal-content -->
         </div><!--/ modal-dialog -->

         </div><!--/ modal-dialog -->
         </div><!--/ modal-dialog -->
        </section><!--/ modal -->


{% endblock %}
