
{% extends 'loggedinbase.html' %}

{% load static %}
{% load staticfiles %}


{% block extra_head_content %}
<style>
	.upload-btn-wrapper {
		position: relative;
		overflow: hidden;
		display: inline-block;
	}

	/* .btn { */
		/* border: 2px solid gray; */
		/* color: gray; */
		/* background-color: white; */
		/* padding: 8px 20px; */
		/* border-radius: 8px; */
		/* font-size: 20px; */
		/* font-weight: bold; */
	/* } */

	.upload-btn-wrapper input[type=file] {
		font-size: 100px;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}
	@keyframes spinneran {
			0% {
					transform: translate3d(-50%, -50%, 0) rotate(0deg);
			}
			100% {
					 transform: translate3d(-50%, -50%, 0) rotate(360deg);
			}
	}
	.spinner1 {

			height: 60px;
			opacity: 1;
			position: relative;
			transition: opacity linear 0.1s;

	}
	.spinner1::before {
					animation: 2s linear infinite spinneran;
					border: solid 3px white;
					border-bottom-color: #EF6565;
					border-radius: 50%;
					content: "";
					height: 40px;
					left: 50%;
					opacity: inherit;
					position: absolute;
					top: 50%;
					transform: translate3d(-50%, -50%, 0);
					transform-origin: center;
					width: 40px;
					will-change: transform;
			}
	</style>


{% endblock %}

{% block content %}

<section class="newsfeed">
	  <div class="container-fluid">
	   <div class="row">
			 <div class="col-lg-3">
{% if daily_challange %}
				<a href="{% url 'user:dsc' %}">
         <div class="storybox"
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url({% static 'assets/img/posts/3.gif' %}) no-repeat; 

		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
            <h4>{{ daily_challange.name }}</h4>
           <p>Daily Challange</p>
          </div>
		 </div>
		 </a>
{% endif %}
{% if weekly_challange %}
				<a href="{% url 'user:dsc' %}">
		 <div class="storybox"
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url({% static 'assets/img/posts/21.gif' %}) no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{ weekly_challange.name }}</h4>
           <p>Weekly Challange</p>
          </div>
		 </div>
		 </a>
{% endif %}

{% if ftf %}
	{% for f in ftf %}
				<a href="{% url 'user:ftf' id=f.id %}">
		 <div class="storybox"
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url({% static 'assets/img/posts/2.gif' %}) no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{ f.name }}</h4>
           <p>Friendly Challange</p>
          </div>
		 </div>
		 </a>
		 {% endfor %}
{% endif %}


{% if Limited_Offer %}
{% for l in Limited_Offer %}
<a href="{% url 'user:lo' id=l.id %}">
<div class="storybox"
style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url({% static 'assets/img/posts/23.gif' %}) no-repeat;
					background-position: center center;
					-webkit-background-size: cover;
					background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;">
	<div class="story-body text-center">
	 <h4>{{ l.company_id }}</h4>
	 <p>Limited Offer</p>
	</div>
</div>
</a>
{% endfor %}

{% endif %}



</div><!--/ col-lg-3 -->

			<div class="col-lg-6">

					<div class="row">
				 	    <div class="col-lg-12">

				 	     <div class="box">
								 <form method="post"  enctype="multipart/form-data">

	 							 {% csrf_token %}

				 		   <textarea id="tought" name = "tought" class="form-control no-border" rows="3" placeholder="What's is on your mind !!" required></textarea>

				 		  <div class="box-footer clearfix">
				 		   <button class="kafe-btn kafe-btn-mint-small pull-right btn-sm">Post</button>
				 		   <ul class="nav nav-pills nav-sm">

	               <div class="upload-btn-wrapper" class="form-group">
	                 <button class="btn"><li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-camera text-muted"></i></a></li></button>
	                 <input  type="file" id="img" name="photo"  accept="image/*" onchange="readURL(this);" >
	               </div>

								 <div class="upload-btn-wrapper" class="form-group">
								 	<button class="btn"><li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-video text-muted"></i></a></li></button>
								 	<input  type="file" id="vid" name="photo"  accept="image/*" onchange="readURL(this);" >
								 </div>
								 <div class="cardbox-base" id="hblah" style="display: none;">
								 <ul>
								<li><a href="#"><img src="" id="blah" class="img-responsive " alt=""></a></li>
							</ul>
								</div>


				 		   </ul>
				 		  </div>
							</form>
				 		 </div>

				 		</div>
				 	   </div>


						{% if posts %}
						<div class="infinite-container" >
						{% for p in posts %}
						 <div class="cardbox infinite-item" >

				          <div class="cardbox-heading">
				           <!-- START dropdown-->
				           <div class="dropdown pull-right">
				            <button class="btn btn-secondary btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
						     <em class="fa fa-ellipsis-h"></em>
							</button>
				            <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
					         <a class="dropdown-item" href="#">Hide post</a>
							 <a class="dropdown-item" href="#">Stop following</a>
                <a class="dropdown-item" href="{% url 'management:report' %}?post={{ p.id }}">Report</a>      

				            </div>
				           </div><!--/ dropdown -->
				           <!-- END dropdown-->
				           <div class="media m-0">
				            <div class="d-flex mr-3">
							 <a href="#"><img class="img-responsive img-circle" src="data:image/jpeg;base64,{{ p.user_photo }}" alt="User"></a>
							</div>
				            <div class="media-body">
				             <p class="m-0">{{ p.username }}</p>
							 <small><span>{{ p.created_date }}</span></small>
				            </div>
				           </div><!--/ media -->
				          </div><!--/ cardbox-heading -->

						  <div class="cardbox-item">
						   <a href="#myModal" onclick=modal('{{ p.id }}') data-toggle="modal">
						    <!-- <img class="img-responsive" src="assets/img/posts/1.jpg" alt="MaterialImg"> -->
								{% if p.isvideo %}
								<video controls style="height:100%;width:100%">
		                <source src='data:video/mp4;base64,{{ p.content }}' type=video/mp4>
		                Your browser does not support the video tag.
		            </video>
								{% endif %}
						   </a>
				          </div><!--/ cardbox-item -->
					      <div class="cardbox-base">
						   <ul style="text-align:left">
								 <div class="media-body">
									<p class="m-0">{{ p.text }}</p>
									{% if p.isvideo %}
									<small><span>{{ p.challegetype }}</span></small>

									{% endif %}
								 </div>
						   </ul>
						  </div><!--/ cardbox-base -->

				          <div class="cardbox-like">
						   <ul>
							<li><a href="#"><i class="fa fa-heart"></i></a><span> 786,286</span></li>
						    <li><a href="#" title="" class="com"><i class="fa fa-comments"></i></a> <span class="span-last"> 126,400</span></li>
						   </ul>
				          </div><!--/ cardbox-like -->

						 </div><!--/ cardbox -->

						 <div id="myModal" class="modal fade">
					       <div id='loadModal' class="modal-dialog">
					        <div class="modal-content">
					         <div class="modal-body">

					          <div class="row">

					           <div class="col-md-8 modal-image">
					            <img class="img-responsive" src="data:image/jpeg;base64,{{ c.photo }}" alt="Image"/>
					           </div><!--/ col-md-8 -->
					           <div class="col-md-4 modal-meta">
					            <div class="modal-meta-top">
					             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					 			 <span aria-hidden="true">×</span><span class="sr-only">Close</span>
					 			</button><!--/ button -->
					             <div class="img-poster clearfix">
					              <a href="#"><img class="img-responsive img-circle" src="data:image/jpeg;base64,{{ c.owner_photo }}" alt="User"/></a>
					              <strong><a href="#">{{ c.owner }}</a></strong>
					              <span>12 minutes ago</span><br/>
					 		     <a href="#" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i> Following</a>
					             </div><!--/ img-poster -->

					             <ul class="img-comment-list">
					              <li>
					               <div class="comment-img">
					                <img src={% static "assets/img/users/17.jpg"%} class="img-responsive img-circle" alt="Image"/>
					               </div>
					               <div class="comment-text">
					                <strong><a href="#">Anthony McCartney</a></strong>
					                <p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
					               </div>
					              </li><!--/ li -->
					              <li>
					               <div class="comment-img">
					                <img src={% static "assets/img/users/15.jpg"%} class="img-responsive img-circle" alt="Image"/>
					               </div>
					               <div class="comment-text">
					                <strong><a href="#">Vanessa Wells</a></strong>
					                <p>Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span>on December 5th, 2016</span>
					               </div>
					              </li><!--/ li -->
					              <li>
					               <div class="comment-img">
					                <img src={% static "assets/img/users/14.jpg"%} class="img-responsive img-circle" alt="Image"/>
					               </div>
					               <div class="comment-text">
					                <strong><a href="#">Sean Coleman</a></strong>
					                <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
					               </div>
					              </li><!--/ li -->
					              <li>
					               <div class="comment-img">
					                <img src={% static "assets/img/users/13.jpg"%} class="img-responsive img-circle" alt="Image"/>
					               </div>
					               <div class="comment-text">
					                <strong><a href="#">Anna Morgan</a></strong>
					                <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
					               </div>
					              </li><!--/ li -->
					              <li>
					               <div class="comment-img">
					                <img src={% static "assets/img/users/3.jpg"%} class="img-responsive img-circle" alt="Image"/>
					               </div>
					               <div class="comment-text">
					                <strong><a href="#">Allison Fowler</a></strong>
					                <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
					               </div>
					              </li><!--/ li -->
					             </ul><!--/ comment-list -->

					             <div class="modal-meta-bottom">
					 			 <ul>
					 			  <li>
					 			  		{% if c.is_liked_by_curr_user %}
					 			     		<a class="modal-like" ><i class="fa fa-heart" ></i></a><span> {{c.likes}}</span>
					 					{% else %}
					 			    		<a class="modal-like" ><i class="fa fa-heart-o" ></i></a><span> {{c.likes}}</span>
					 					{% endif %}

					 			      <a class="modal-comment" href="#"><i class="fa fa-comments"></i></a><span> 786,286</span> </li>
					 			  <li>
					 			   	{% comment %} <div class="comment-body">
					 			   		<form id='compose-comment-form'>
					 					   {% csrf_token %}

					 					   <input id='comment' class="form-control input-sm" style="float:left" type="text" placeholder="Write your comment..."/>
					 					   <input id="cmnt-btn" type="submit" hidden />
					 					   <input id="post-id" value= {{ c.id }} hidden/>



					 					</form>
					 			   	</div><!--/ comment-body -->	 {% endcomment %}
					               </li>
					              </ul>
					             </div><!--/ modal-meta-bottom -->

					            </div><!--/ modal-meta-top -->
					           </div><!--/ col-md-4 -->

					          </div><!--/ row -->
					         </div><!--/ modal-body -->

					        </div><!--/ modal-content -->
					       </div><!--/ modal-dialog -->
					      </div><!--/ modal -->


						 {% endfor %}
						 </div>
						 {% if posts.has_next %}

								 <a class="infinite-more-link" href="?page={{ posts.next_page_number }}" style="color: black;">Loading more stay tuned .......</a>
								 <div class="spinner1 infinite-more-link"></div>
						 {% endif %}
						 <div class="loading justify-content-center"  style="display: none;">

						 </div>
						 {% endif %}

		</div><!--/ col-lg-6 -->


		<div class="col-lg-3">

         <div class="suggestion-box full-width">
			<div class="suggestions-list">

				{% if sfriends %}
				{% for sf in sfriends %}
				<div class="suggestion-body">
					<img class="img-responsive img-circle" src="data:image/jpeg;base64,{{ sf.photo }}" alt="Image">
					<div class="name-box">
						<h4>{{ sf.name }}</h4>
						<span>{{ sf.email }}</span>
					</div>
					<span id="{{ sf.email }}" onclick="fun1(this)"><i class="fa fa-eye"></i></span>
				</div>
				{% endfor %}
				{% endif %}
			</div><!--suggestions-list end-->
		</div>




		</div>

	   </div><!--/ row -->
	  </div><!--/ container -->
	 </section><!--/ newsfeed -->


	 <script src="{% static 'assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
	 <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
	 <script src="{% static 'assets/js/infinite.min.js' %}"></script>

	 <script>
	     var infinite = new Waypoint.Infinite({
	       element: $('.infinite-container')[0],
	       onBeforePageLoad: function () {
	         $('.spinner-border').show();
	       },
	       onAfterPageLoad: function ($items) {
	         $('.spinner-border').hide();
	       }
	     });
	 </script>

	 <script>
	 function fun1(exe){
	 	var id = exe.id;
	 	var url = window.location.href + "viewprofile/" + exe.id + "/";
	 	console.log(url)
	 	window.location.href = url

	 };
	  </script>

		<script>
			function modal(postId) {
				console.log("modal(",postId,")");
				$.ajax({
	                    type: "GET",
	                    url: "model/",
	                    data: {
	                        'postId': postId,
	                    },
	                    success: display,
						dataType: 'html',
	                    error: function(result) {
	                        alert('error');
	                    }
	                });

			}
			function display(data,textStatus,jqXHR) {
				console.log("display")
	        	$('#loadModal').html(data)
			}
		</script>


<script type="text/javascript">
	function readURL(input) {
					element = document.getElementById('hblah');
					console.log(element)
					 element.style.display = 'block';

				if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


{% endblock %}
