{% extends 'managementbase.html' %}

{% block content %}
    <section class="single-post" style="height:900px">
   	  <div class="container">
   	   <div class="row">

         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-body">
             <center>
             <h2>Add Daily-Challange<h2><br>

               <form method="post" class="form-signin" style="width:100%" id="addchallenge">
                  {% csrf_token %}
                <div class="form-group">
                 <input name="name" type="text" class="form-control" placeholder="Name" required >
                </div>
                <div class="form-group">
                  <select id="category" name="category" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' placeholder="Category" required>
                     <option value="" disabled selected>Select Category</option>
                     {% if cats %}
                        {% for c in cats %}
                          <option value={{c.category_name}}>{{c.category_name}}</option>
                        {% endfor %}
                     {% endif %}
                  </select>
                </div>
                <div class="form-group">
                  <select id="type" name="type" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' placeholder="Category" required>
                     <option value="" disabled selected>Select Type</option>
                     {% if type %}
                        {% for c in type %}
                          <option value={{c.challange_type_model}}>{{c.challange_type_model}}</option>
                        {% endfor %}
                     {% endif %}
                  </select>
                </div>
                <div class="form-group">
                  <select id="submissions" name="submissions" class="form-control" onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();' placeholder="Category" required>
                     <option value="" disabled selected>Select Type</option>
                     {% if submissions %}
                        {% for c in submissions %}
                          <option value={{c.type_of_submission}}>{{c.type_of_submission}}</option>
                        {% endfor %}
                     {% endif %}
                  </select>
                </div>
                <div class="form-group">
                 <input type="number" class="form-control" name="hours" placeholder="Number of hours" min="0" required>
                </div>
                <div class="form-group">
                 <input type="date" class="form-control" name="date"  required>
                </div>
                <div class="form-group">
                 <label for="age_restricted" style="font-size:20px" class="form-control">Age Restricted ? <input type="checkbox" id="age_restricted" class="form-control" name="age_restricted" placeholder="Age Restricted ?" style="width:25px;height:25px"></label>
                </div>
                <div class="form-group">
                 <textarea rows="4" cols="50" class="form-control" name="discription" form="addchallenge" placeholder="Discription" required></textarea>
                </div>



                <button class="kafe-btn kafe-btn-mint btn-block" type="submit" name="submit">Add Challange</button>
                <br/>

                {% if warning %}
                   <h6 class="form-signin-heading" style="color:red">*{{ warning }}</h6>
                {% endif %}
               </form>

               </center>
           </div><!--/ modal-body -->

          </div><!--/ modal-content -->
         </div><!--/ modal-dialog -->

         </div><!--/ modal-dialog -->
         </div><!--/ modal-dialog -->
        </section><!--/ modal -->


{% endblock %}
