{% extends 'managementbase.html' %}

{% block content %}
<section class="nav-sec" id="navbar"  style="overflow:hidden;height:20px;">
  <div class="d-flex justify-content-between">

  </div>
</section>
<section class="single-post" style="height:900px">
  <div class="container">
   <div class="row">

     <div class="modal-dialog">
      <div class="modal-content">
       <div class="modal-body">
         <center>
         <h2>Add Single-Challange<h2><br>

           <form method="post" class="form-signin" style="width:100%" id="addchallenge">
              {% csrf_token %}
            <div class="form-group">
             <input name="name" type="text" class="form-control" placeholder="Name" required >
            </div>
            <div class="form-group">
              <select id="category" name="category" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' placeholder="Category" required>
                 <option value="" disabled selected>Select Type</option>

                      <option value="CategoryModel">Category Model</option>
                      <option value="ChallangeTypeModel">Challange Type Model</option>
                      <option value="TypeOfSubmissionModel">Type Of Submission Model</option>


              </select>
            </div>


            <button class="kafe-btn kafe-btn-mint btn-block" type="submit" name="submit">Add</button>
            <br/>

           </form>

           </center>
       </div><!--/ modal-body -->

      </div><!--/ modal-content -->
     </div><!--/ modal-dialog -->

     </div><!--/ modal-dialog -->
     </div><!--/ modal-dialog -->
    </section><!--/ modal -->



{% endblock %}
