{% extends 'managementbase.html' %}

{% load static %}
{% load staticfiles %}

{% block extra_head_content  %}
<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OOAL</title>
		<meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />

<!-- <link rel="stylesheet" href={% static "bus_booking/css/open-iconic-bootstrap.min.css" %}> -->
		<link rel="icon" href={% static "assets/img/logo.html" %}>
		<link rel="apple-touch-icon" href={% static "img/favicons/apple-touch-icon.html" %}>
		<link rel="apple-touch-icon" sizes="72x72" href={% static  "img/favicons/apple-touch-icon-72x72.html" %}>
		<link rel="apple-touch-icon" sizes="114x114" href={% static  "img/favicons/apple-touch-icon-114x114.html" %}>

    <link type="text/css"  rel="stylesheet" href={% static "assets/css/demos/photo.css" %} />

		<script src={% static  "assets/js/modernizr-custom.html" %}></script>
{% endblock %}


{% block content %}

<section class="login">
     </section>



<p></p>
<br><br><br><br><br><br><br><br><br><br><br>
<p></p> 

  <!-- <form method="post">
    {% csrf_token %}
    Name : <input type="email" name="name" required>
    Password : <input type="password" name="password" required>
    Re-Password : <input type="password" name="repassword" required>
    <button type="submit" name="button">Signup</button>
  </form> -->
{% endblock %}
