
{% extends 'loggedinbase.html' %}

{% block extra_head_content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .modal-header, h5, .close {
    background-color: #0fc19e;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .btn-sub {
      background-color : #0fc19e;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  </style>

{% endblock %}
{% load static %}
{% load staticfiles %}

{% block content %}
  <!-- <h2>Homepage</h2> -->
	 <!-- ==============================================
	 News Feed Section
	 =============================================== -->
	 <section class="followers">
	  <div class="container-fluid">
	   <div class="row">

	    <div class="col-lg-8 col-lg-offset-2">
            <div class="search-box full-width">
                <div class="search">
                    <div class="input-field" style="float:left;width:84%">
                        <input placeholder="Search" type="text">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="container"style="float:right;width:16%">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="kafe-btn kafe-btn-mint" id="createClan"><i class="fa fa-users"></i> Create</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">


                        </div>
                    </div>
                    </div>




                </div><!--/ search-->
            </div>


            <div class="followers-box full-width">
                <div class="followers-list">
                <!--{% for i in clans1 %} -->
                    <div class="followers-body" >
                    <img class="img-responsive img-circle" src="" alt="image">
                    <div class="name-box">
                    <h4>temp</h4>
                    <span>text</span>

                    </div><!--/ name-box -->
                    <span><a href='' class="kafe-btn kafe-btn-mint-small"> view </a></span>
                    </div><!--/ followers-body -->
                            <!-- {% endfor %} -->





                </div><!--suggestions-list end-->
		    </div>

            </div>

       </div><!--/ row-->
	  </div><!--/ container -->
	 </section><!--/ profile -->

     <!-- ==============================================
	 Scripts
	 =============================================== -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>
	<script src="assets/plugins/slimscroll/jquery.slimscroll.js"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});
	</script>
    <script>
        $(document).ready(function(){
        $("#createClan").click(function(){
            $("#myModal").modal();
        });
        });
    </script>

  </body>

<!-- Mirrored from themashabrand.com/templates/Fluffs/photo_followers.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Feb 2020 13:33:16 GMT -->
</html>
{% endblock %}

