
{% extends 'loggedinbase.html' %}

{% block extra_head_content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .modal-header, h5, .close {
    background-color: #0fc19e;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .btn-sub {
      background-color : #0fc19e;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  </style>

{% endblock %}
{% load static %}
{% load staticfiles %}

{% block content %}
  <!-- <h2>Homepage</h2> -->
	 <!-- ==============================================
	 News Feed Section
	 =============================================== -->
	 <section class="followers">
	  <div class="container-fluid">
	   <div class="row">

	    <div class="col-lg-8 col-lg-offset-2">
            <div class="search-box full-width">
                <div class="search">
                    <div class="input-field" style="float:left;width:84%">
                        <input placeholder="Search" type="text">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="container"style="float:right;width:16%">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="kafe-btn kafe-btn-mint" id="createClan"><i class="fa fa-users"></i> Create</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5><span class="glyphicon glyphicon-plus"></span> Create Clan</h5>
                            </div>
                            <div class="modal-body" style="padding:40px 50px;">
                            <form role="form" method="post" action="{% url 'community:create-clan' %}"  enctype="multipart/form-data" id="addclan">
                            {% csrf_token %}
                                <div class="form-group">
                                <input name="name" type="text" class="form-control" placeholder="Full Name" required >
                                </div>
                                <div class="form-group">
                                <textarea rows="4" cols="50" class="form-control" name="discription" form="addclan" placeholder="Discription" required></textarea>
                                </div>
                                <div class="form-group">
                                <input type="file" class="form-control" id="img" name="photo"  accept="image/*" onchange="readURL(this);" required>
                                </div>
                                <button name="submit" type="submit" class="btn btn-sub btn-block"><span class="glyphicon glyphicon-ok"></span> Create</button>
                                {% if warning %}
                                    <h6 class="form-signin-heading" style="color:red">*{{ warning }}</h6>
                                {% endif %}
                            </form>
                            </div>
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            </div>
                        </div>

                        </div>
                    </div>
                    </div>




                </div><!--/ search-->
            </div>


            <div class="followers-box full-width">
                <div class="followers-list">
                {% for i in clan_challenges_today %}
                    <div class="followers-body" >

                    <div class="name-box">
                        <h2><u>{{ i.name }}</u></h2>

                        <span><h3>{{ i.discription }}</h3></span>
                        {% if not i.is_owner %}
                        <h4>status : {{i.status }}</h4>
                        {% else %}
                        <h4>status : You are owner of this challange</h4>
                        {% endif %}
                        <h4>deadline : {{i.deadline }} </h4>

                    </div><!--/ name-box -->
                    <span>

                 {% if not i.is_owner %}
                 {% if i.status == 'Not Completed' %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id="challange_req"><i ></i> complete challange </button>

                 {% elif i.status == 'being reviewed' %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id="sdfs"><i ></i> Your task is under review </button>

                  {% else %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id=""><i ></i> Your have completed the task </button>
                   {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="myModal1" role="dialog">
                        <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5><span class="glyphicon glyphicon-plus"></span> Submit challange</h5>
                            </div>
                            <div class="modal-body" style="padding:40px 50px;">
                            <form role="form" method="post" action="{% url 'community:submit_challanges' i.id %}"  enctype="multipart/form-data" id="chall">
                            {% csrf_token %}

                                <div class="form-group">
                                <textarea rows="4" cols="50" class="form-control" name="discription" form="chall" placeholder="Discription" required></textarea>
                                </div>
                                <label for="img1">Proof of completion</label>
                                <div class="form-group">
                                <input type="file" class="form-control" id="img1" name="photo"  accept="image/*" onchange="readURL(this);" required>
                                </div>

                                <button name="submit" type="submit" class="btn btn-sub btn-block"><span class="glyphicon glyphicon-ok"></span> submit</button>
                                {% if warning %}
                                    <h6 class="form-signin-heading" style="color:red">*{{ warning }}</h6>
                                {% endif %}
                            </form>
                            </div>
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            </div>
                        </div>

                        </div>
                    </div>
                        {% endif %}
                    </span>
                    </div><!--/ followers-body -->

                    {% endfor %}


                    {% for i in clan_challenges %}
                    <div class="followers-body" >

                    <div class="name-box">
                        <h2><u>{{ i.name }}</u></h2>

                        <span><h3>{{ i.discription }}</h3></span>

                        <h4>status : {{i.status }}</h4>
                        <h4>deadline : {{i.deadline }} </h4>

                    </div><!--/ name-box -->
                    <span>

                 {% if i.status == 'Not Completed' %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id="challange_req1"><i ></i> complete challange </button>

                 {% elif i.status == 'being reviewed' %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id="sdf"><i ></i> Your task is under review </button>

                  {% else %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id=" "><i ></i> Your have completed the task </button>
                   {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="myModal11" role="dialog">
                        <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5><span class="glyphicon glyphicon-plus"></span> Submit challange</h5>
                            </div>
                            <div class="modal-body" style="padding:40px 50px;">
                            <form role="form" method="post" action="{% url 'community:submit_challanges' i.id %}"  enctype="multipart/form-data" id="chall1">
                            {% csrf_token %}

                                <div class="form-group">
                                <textarea rows="4" cols="50" class="form-control" name="discription" form="chall1" placeholder="Discription" required></textarea>
                                </div>
                                <label for="img1">Proof of completion</label>
                                <div class="form-group">
                                <input type="file" class="form-control" id="img11" name="photo"  accept="image/*" onchange="readURL(this);" required>
                                </div>

                                <button name="submit" type="submit" class="btn btn-sub btn-block"><span class="glyphicon glyphicon-ok"></span> submit</button>
                                {% if warning %}
                                    <h6 class="form-signin-heading" style="color:red">*{{ warning }}</h6>
                                {% endif %}
                            </form>
                            </div>
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            </div>
                        </div>

                        </div>
                    </div>
                    </span>
                    </div><!--/ followers-body -->

                    {% endfor %}



                </div><!--suggestions-list end-->
		    </div>

		</div>

       </div><!--/ row-->
	  </div><!--/ container -->
	 </section><!--/ profile -->

     <!-- ==============================================
	 Scripts
	 =============================================== -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>
	<script src="assets/plugins/slimscroll/jquery.slimscroll.js"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});
	</script>
    <script>
        $(document).ready(function(){
        $("#createClan").click(function(){
            $("#myModal").modal();
        });
        });
    </script>

    <script>
        $(document).ready(function(){
        $("#challange_req").click(function(){
            $("#myModal1").modal();
        });
        });
    </script>

    <script>
        $(document).ready(function(){
        $("#challange_req1").click(function(){
            $("#myModal11").modal();
        });
        });
    </script>

  </body>

<!-- Mirrored from themashabrand.com/templates/Fluffs/photo_followers.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Feb 2020 13:33:16 GMT -->
</html>
{% endblock %}

