
{% extends 'loggedinbase.html' %}

{% block extra_head_content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .modal-header, h5, .close {
    background-color: #0fc19e;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .btn-sub {
      background-color : #0fc19e;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  </style>

{% endblock %}
{% load static %}
{% load staticfiles %}

{% block content %}
  <!-- <h2>Homepage</h2> -->
	 <!-- ==============================================
	 News Feed Section
	 =============================================== -->
	 <section class="followers">
	  <div class="container-fluid">
	   <div class="row">

	    <div class="col-lg-8 col-lg-offset-2">
            <div class="search-box full-width">
                <div class="search">
                    <div class="input-field" style="float:left;width:84%">
                        <!--<input placeholder="Search" type="text">
                        <i class="fa fa-search"></i> -->
                    </div>
                    <div class="container"style="float:right;width:16%">
                    <!-- Trigger the modal with a button -->
                    <a href="{% url 'community:clan-show' clan_id %}"><button type="button" class="kafe-btn kafe-btn-mint" id="createClan">Go back</button></a>

                    <!-- Modal -->
                </div><!--/ search-->
            </div>


            <div class="followers-box full-width">
                <div class="followers-list">
                {% for i in clan_challenges_today %}
                    <div class="followers-body" >

                    <div class="name-box">
                        <h2><u>{{ i.name }}</u></h2>

                        <span><h3>{{ i.discription }}</h3></span>
                        {% if not i.is_owner %}
                        <h4>status : {{i.status }}</h4>
                        {% else %}
                        <h4>status : You are owner of this challange</h4>
                        {% endif %}
                        <h4>deadline : {{i.deadline }} </h4>

                    </div><!--/ name-box -->
                    <span>

                 {% if not i.is_owner %}
                 {% if i.status == 'Not Completed' %}
                       <a href="{% url 'community:submit_form' i.id %}"> <button type="button" class="kafe-btn kafe-btn-mint" id="challange_req"><i ></i> complete challange </button></a>


                 {% elif i.status == 'being reviewed' %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id="sdfs"><i ></i> Your task is under review </button>

                  {% else %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id=""><i ></i> Your have completed the task </button>
                   {% endif %}
                    {% endif %}
                    </span>
                    <!-- Modal -->


                    </div><!--/ followers-body -->

                    {% endfor %}


                    {% for i in clan_challenges %}
                    <div class="followers-body" >

                    <div class="name-box">
                        <h2><u>{{ i.name }}</u></h2>

                        <span><h3>{{ i.discription }}</h3></span>

                        {% if not i.is_owner %}
                        <h4>status : {{i.status }}</h4>
                        {% else %}
                        <h4>status : You are owner of this challange</h4>
                        {% endif %}
                        <h4>deadline : {{i.deadline }} </h4>


                    </div><!--/ name-box -->
                    <span>

                 {% if not i.is_owner %}
                 {% if i.status == 'Not Completed' %}
                        <a href="{% url 'community:submit_form' i.id %}"> <button type="button" class="kafe-btn kafe-btn-mint" id="challange_req1"><i ></i> complete challange </button></a>

                 {% elif i.status == 'being reviewed' %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id="sdf"><i ></i> Your task is under review </button>

                  {% else %}
                        <button type="button" class="kafe-btn kafe-btn-mint" id=" "><i ></i> Your have completed the task </button>
                   {% endif %}
                    {% endif %}
                         </span>
                    <!-- Modal -->


                    </div><!--/ followers-body -->

                    {% endfor %}



                </div><!--suggestions-list end-->
		    </div>

		</div>

       </div><!--/ row-->
	  </div><!--/ container -->
      </div>
	 </section><!--/ profile -->

     <!-- ==============================================
	 Scripts
	 =============================================== -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>
	<script src="assets/plugins/slimscroll/jquery.slimscroll.js"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});
	</script>
    <script>
        $(document).ready(function(){
        $("#createClan").click(function(){
            $("#myModal").modal();
        });
        });
    </script>

    <script>
        $(document).ready(function(){
        $("#challange_req").click(function(){
            $("#myModal1").modal();
        });
        });
    </script>

    <script>
        $(document).ready(function(){
        $("#challange_req1").click(function(){
            $("#myModal11").modal();
        });
        });
    </script>

  </body>

<!-- Mirrored from themashabrand.com/templates/Fluffs/photo_followers.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Feb 2020 13:33:16 GMT -->
</html>
{% endblock %}

