{% extends 'loggedinbase.html' %}

{% load static %}
{% load staticfiles %}
{% block extra_head_content %}
	<style>
		.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
		}

		.tab button {
			display: block;
			width: 50%;
			border: none;
			background-color: #efefef;
			padding: 14px 28px;
			font-size: 16px;
			cursor: pointer;
			text-align: center;
			color: #88898a;
		}

		.tab button:hover {
			background-color: #848484;
			color: #efefef;
		}

		.tab button.active {
			background-color: #848484;
			color: #efefef;
		}

		.tabcontent {
		display: none;
		border-top: none;
		}

		.tabcontent {
			animation: fadeEffect 1s; /* Fading effect takes 1 second */
		}


		@keyframes fadeEffect {
			from {opacity: 0;}
			to {opacity: 1;}
		}
		.tablinks {
			font-family: 'Abhaya Libre', serif;
			font-size: 20px;
			font-weight: 700;
		}
		img.center { display: block; margin-left: auto; margin-right: auto; margin-top:250px;}
        img.send {
            height: 200px;
            width: 200px;

        }
        p.msg-head {
            text-align: center;
            font-size: 25px;
            font-family: 'Abhaya Libre', serif;

        }
        p.msg-caption {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: #848484
        }
        .conv-msg-home {
            height: 626px;
            width: 100%;

        }

	</style>

{% endblock %}
{% block content %}

	 <!-- ==============================================
	 Modal Section
	 =============================================== -->
     <section class="chat">
	  <div class="container">
	   <div class="row">

        <div class="messages-box">
		 <div class="row">
		  <div class="col-lg-4 col-md-12 no-pdd">
		   <div class="messages-container">

			<div class="message-header">
			 <div class="message-title">
			  <h4>Messages</h4>
			 </div><!--/ message-title-->
             <div class="search-area">
              <div class="input-field">
               <input placeholder="Search" type="text">
               <i class="fa fa-search"></i>
              </div>
             </div><!--/ search-area-->
			</div><!--/ message-header-->
			<div class="messages-list">
			<div class="tab">
				<button id="defaultOpen" class="tablinks" style="float: left;" onclick="view(event, 'Friends')" >Friends</button>
				<button class="tablinks" style="float: right;"onclick="view(event, 'Groups')">Groups</button>
			</div>
			<div id="Friends" class="tabcontent">
			  <ul>
			  {% if friends_list %}
			  {% for i in friends_list %}

			   <li class="friends" data-value="{{ i.id }}" onclick=msg_frnd('{{ i.id }}')>
				<div class="user-message-details">
				 <div class="user-message-img">
				  <img data-src="{{ i.photo }}" src="data:image/jpeg;base64,{{ i.photo }}" class="img-responsive img-circle" alt="">
				  <span class="user-online"></span>
				 </div>
				 <div data-name="{{ i.name }}"class="user-message-info">
				  <h4>{{ i.name }}</h4>
			     </div><!--/ user-message-info -->
				 <span class="message-notification">1</span>
			    </div><!--/ user-message-details -->
			   </li>

			   {% endfor %}
			   {% endif %}
			  </ul>
			  </div>
			<div id="Groups" class="tabcontent">
			  <ul>
			  {% if groups_list %}
			  {% for i in groups_list %}
			   <li class="active" data-value="{{ i.id }}" onclick=msg_group('{{ i.id }}')>
				<div class="user-message-details">
				 <div class="user-message-img">
				  <img data-src="{{ i.photo }}" src="data:image/jpeg;base64,{{ i.photo }}" class="img-responsive img-circle" alt="">
				  <span class="user-online"></span>
				 </div>
				 <div data-name="{{ i.name }}" class="user-message-info">
				  <h4>{{ i.name }}</h4>
			     </div><!--/ user-message-info -->
				 <span class="message-notification">1</span>
			    </div><!--/ user-message-details -->
			   </li>
			   {% endfor %}
			   {% endif %}
			  </ul>
			  </div>
			</div><!--/ messages-list -->

		   </div><!--/ messages-container-->
		  </div><!--/ col-lg-4 -->

		  <div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
		   <div class="conversation-box" id="conv-box">

				<div class="conv-msg-home">
                    <img class="center send" src={% static "assets/img/compose-001.png"%}>
                    <p class='msg-head'>Your Messages</p>
                    <p class="msg-caption">Send private photos and messages to a friend or group.</p>
                </div>
           </div><!--main-conversation-box end-->
		  </div><!--/ col-lg-8 -->

		 </div><!--/ row -->
		</div><!--/ messages-box -->

      </div><!--/ row -->
      </div><!--/ container -->
     </section><!--/ chat -->

     <!-- ==============================================
	 Scripts document.getElementById("myTextarea").value
	 =============================================== -->
	 <script type="text/javascript">
		function priv_manage(txt) {
			var bt = document.getElementById('priv_send_btn');
			if (txt.value != '') {
				bt.disabled = false;
			}
			else {
				bt.disabled = true;
			}
		}
	</script>
	 <script type="text/javascript">
		function manage(txt) {
			var bt = document.getElementById('send_btn');
			if (txt.value != '') {
				bt.disabled = false;
			}
			else {
				bt.disabled = true;
			}
		}
	</script>
	<script>
		function msg_frnd(frndId) {
			console.log("msg_frnd(frndId)");
			console.log(frndId);
			var frnd_id = frndId
			console.log(frnd_id);
			$.ajax({
                    type: "GET",
                    url: "/chat/getPrivMsg/",
                    data: {
                        'f_id': frnd_id,
                    },
                    success: display,
					dataType: 'html',
                    error: function(result) {
                        alert('error');
                    }
                });
		}
		function display(data,textStatus,jqXHR) {
			console.log("display")
        	$('#conv-box').html(data)
		}
	</script>

	<script>
		function msg_group(grpId) {
			console.log("msg_group(grpId)");
			var grp_id = grpId;
			$.ajax({
                    type: "GET",
                    url: "/chat/getGrpMsg/",
                    data: {
                        'clan_id': grp_id,
                    },
                    success: display,
					dataType: 'html',
                    error: function(result) {
                        alert('error');
                    }
                });

		}
		function display(data,textStatus,jqXHR) {
			console.log("display")
			console.log(data)
        	$('#conv-box').html(data)
		}
	</script>

	<script>
		function msg_re_group(grpId) {
			console.log("msg_re_group(grpId)");
			var grp_id = grpId;
			$.ajax({
                    type: "GET",
                    url: "/chat/getGrpMsg/",
                    data: {
                        'clan_id': grp_id,
                    },
                    success: display,
					dataType: 'html',
                    error: function(result) {
                        alert('error');
                    }
                });
		}
	</script>

	<script type="text/javascript">
		function view(evt, tabName) {
			console.log(tabName);
			// Declare all variables
			var i, tabcontent, tablinks;

			// Get all elements with class="tabcontent" and hide them
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}

			// Get all elements with class="tablinks" and remove the class "active"
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}

			// Show the current tab, and add an "active" class to the button that opened the tab
			document.getElementById(tabName).style.display = "block";
			evt.currentTarget.className += " active";
		}
	</script>

	<script>
		{% comment %} // Get the element with id="defaultOpen" and click on it {% endcomment %}
		document.getElementById("defaultOpen").click();
	</script>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>
	<script src="assets/plugins/slimscroll/jquery.slimscroll.js"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});
	</script>

  </body>

<!-- Mirrored from themashabrand.com/templates/Fluffs/photo_chat.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Feb 2020 13:33:24 GMT -->
</html>
{% endblock %}
