{% extends 'loggedinbase.html' %}



{% load static %}
{% load staticfiles %}

{% block extra_head_content %}

{% endblock %}

{% block content %}



<section class="notifications">
	  <div class="container">
	   <div class="row">

	    <div class="col-lg-8 col-lg-offset-2">
		<ul>

		{% if daily_challange %}
						<a href="{% url 'user:dsc' %}">
							<li>
 				           <div class="media first_child">
 				            <div class="media_body">
 				             <p><b>{{daily_challange.name}}</b></p><p> {{daily_challange.discription}}</p>
 				             <h6>{{daily_challange.created_date}}</h6>
 				             <div class="btn_group">
 				             </div>
 				            </div>
 				           </div>
 				         </li>
				 </a>
		{% endif %}
		{% if weekly_challange %}
						<a href="{% url 'user:wsc' %}">
							<li>
		 		           <div class="media first_child">
		 		            <div class="media_body">
		 		             <p><b>{{weekly_challange.name}}</b></p><p> {{weekly_challange.discription}}</p>
		 		             <h6>{{weekly_challange.created_date}}</h6>
		 		             <div class="btn_group">
		 		             </div>
		 		            </div>
		 		           </div>
		 		         </li>
				 </a>
		{% endif %}

		{% if ftf %}
			{% for f in ftf %}
						<a href="{% url 'user:ftf' id=f.id %}">
							<li>
				            <div class="media first_child">
				             <div class="media_body">
				              <p><b>{{f.name}}</b></p><p> {{f.discription}}</p>
				              <h6>{{f.created_date}}</h6>
				              <div class="btn_group">
				              </div>
				             </div>
				            </div>
				          </li>
				 </a>
				 {% endfor %}
		{% endif %}


		{% if Limited_Offer %}
		{% for l in Limited_Offer %}
		<a href="{% url 'user:lo' id=l.id %}">
			<li>
						<div class="media first_child">
						 <div class="media_body">
							<p><b>{{l.name}}</b></p><p> {{l.discription}}</p>
							<h6>{{l.created_date}}</h6>
							<div class="btn_group">
							</div>
						 </div>
						</div>
					</li>
		</a>
		{% endfor %}

		{% endif %}

		</ul>

		</div>

       </div><!--/ row-->
	  </div><!--/ container -->
	 </section><!--/ profile -->
   {% endblock %}
