{% extends 'loggedinbase.html' %}



{% load static %}
{% load staticfiles %}

{% block extra_head_content %}

{% endblock %}

{% block content %}



<section class="notifications">
	  <div class="container">
	   <div class="row">

	    <div class="col-lg-8 col-lg-offset-2">
		<ul>
      {% for n in  notifications %}
		 <li>
           <div class="media first_child">
            <div class="media_body">
             <p><b>{{n.sender}}</b></p><p> {{n.message}}</p>
             <h6>{{n.time}}</h6>
            </div>
           </div>
         </li>
    {% endfor %}

		</ul>

		</div>

       </div><!--/ row-->
	  </div><!--/ container -->
	 </section><!--/ profile -->
   {% endblock %}
