
{% extends 'loggedinbase.html' %}



{% load static %}
{% load staticfiles %}

{% block extra_head_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
function send_friend_req(exe){
  var r = false;
  if (exe.id == 0){
    r = true
  }
  else if(exe.id == 1){
    r =confirm("Unsend Request?");
  }
  else if (exe.id == 2) {
    r = confirm("Are You Sure You Want To Unfriend Your OOALmate ?");
  }
  else if (exe.id == 3) {
    r = confirm("Are You Sure You Want Accept This Friend Request ?");
  }
  else if (exe.id == 4) {
    r = confirm("Are You Sure You Want Reject This Friend Request ?");
  }
  if ( r == true ){
    console.log(r)
 $.ajax({
   method:"GET",
   url: "" + exe.id + "/",
   data:{},
   success: function(data){
    window.location.reload();
   }
 })

};
}
 </script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <style>
 .modal-header, h5, .close {
   background-color: #0fc19e;
   color:white !important;
   text-align: center;
   font-size: 30px;
 }
 .btn-sub {
     background-color : #0fc19e;
 }
 .modal-footer {
   background-color: #f9f9f9;
 }
 </style>

{% endblock %}

{% block content %}


<section class="profile">
 <div class="container-fluid">
  <div class="row">

  <div class="col-lg-3" style="width:100%">
  <div class="profilebox hidden-xs hidden-sm"
    style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url({% static "assets/img/posts/37.jpg" %}) no-repeat;
           width:100%;
               background-position: center center;
               -webkit-background-size: cover;
               -moz-background-size: cover;
               -o-background-size: cover;">
  </div>
  </div>

    </div><!--/ row-->
 </div><!--/ container -->
</section><!--/ profile -->

<!-- ==============================================
User Profile Section
=============================================== -->
<section class="user-profile">
 <div class="container-fluid">
  <div class="row">

   <div class="col-lg-12">
    <div class="post-content">
     <div class="author-post text-center">
      <a href="#"><img class="img-fluid img-circle" src="data:image/jpeg;base64,{{ photo }}" alt="Image"></a>
     </div><!-- /author -->
    </div><!-- /.post-content -->
 </div><!-- /col-sm-12 -->

    </div><!--/ row-->
 </div><!--/ container -->
</section><!--/ profile -->

<!-- ==============================================
User Profile Section
=============================================== -->
<section class="details">
 <div class="container">
  <div class="row">
   <div class="col-lg-12">

       <div class="details-box row">
    <div class="col-lg-9">
        <div class="content-box">
      <h4>{{ name }}</h4>
          <p>{{ discription }} </p>
    <small> <span class="hashtag">{{ email }}</span></small>
        </div><!--/ media -->
    </div>
    <div class="col-lg-3">
        <div class="follow-box">

          {% if friends == 3 %}<a  onclick="send_friend_req(this)" id="{{ friends }}" class="kafe-btn kafe-btn-mint">Accept Friend Request</a>
          <a  onclick="send_friend_req(this)" id="4" class="kafe-btn kafe-btn-mint">Reject</a> {% endif %}
          {% if friends == 2 %}<a onclick="send_friend_req(this)" id="{{ friends }}"  class="kafe-btn kafe-btn-mint"><i class="fa fa-check"></i> Friends </a><br/>
              <a  class="kafe-btn kafe-btn-mint" id="createClan">Challange</a><br/>
              {% if message %}<a style="color:red">*{{ message }}</a>{% endif %}
          {% endif %}
          {% if friends == 1 %}<a onclick="send_friend_req(this)" id="{{ friends }}"  class="kafe-btn kafe-btn-mint">Friend Request sent</a> {% endif %}
          {% if friends == 0 %}<a  onclick="send_friend_req(this)" id="{{ friends }}" class="kafe-btn kafe-btn-mint">Send Friend Request</a> {% endif %}

          <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5><span class="glyphicon glyphicon-plus"></span> Challange</h5>
                  </div>
                  <div class="modal-body" style="padding:40px 50px;">
                  <form role="form" method="post"  enctype="multipart/form-data" id="addclan">
                  {% csrf_token %}
                      <div class="form-group">
                      <input name="name" type="text" class="form-control" placeholder="Full Name" required >
                      </div>
                      <div class="form-group">
                      <textarea rows="4" cols="50" class="form-control" name="discription" form="addclan" placeholder="Discription" required></textarea>
                      </div>
                      <button name="submit" type="submit" class="btn btn-sub btn-block"><span class="glyphicon glyphicon-ok"></span> POST</button>
                      {% if warning %}
                          <h6 class="form-signin-heading" style="color:red">*{{ warning }}</h6>
                      {% endif %}
                  </form>
                  </div>

              </div>

              </div>
          </div>

        </div><!--/ dropdown -->
    </div>
       </div><!--/ details-box -->

 </div>
  </div>
 </div><!--/ container -->
</section><!--/ profile -->


<section class="home-menu">
      <div class="container">
       <div class="row">

        <div class="menu-category">
         <ul class="menu">
          <li class="current-menu-item"><a href="photo_profile.html">Posts <span>1.7k</span></a></li>
          <li><a href="photo_followers.html">Followers <span>1.3M</span></a></li>
          <li><a href="photo_followers.html">Following <span>1200</span></a></li>
         </ul>
		</div>
    <br><br><br><br><br><br><br><br>
	   </div><!--/row -->
      </div><!--/container -->
     </section><!--/home-menu -->

<br><br>
<script>
    $(document).ready(function(){
    $("#createClan").click(function(){
        $("#myModal").modal();
    });
    });
</script>

{% endblock %}
