{% extends 'loggedinbase.html' %}



{% load static %}
{% load staticfiles %}

{% block extra_head_content %}

{% endblock %}

{% block content %}

<section class="profile-two">
	  <div class="container-fluid">
	   <div class="row">

		<div class="col-lg-3">
         <aside id="leftsidebar" class="sidebar">
		  <ul class="list">
           <li>
			<div class="user-info">
			 <div class="image">
		      <a href="photo_profile_two.html">
			   <img src="data:image/jpeg;base64,{{ photo }}" class="img-responsive img-circle" alt="User">
			   <span class="online-status online"></span>
			  </a>
			 </div>
		     <div class="detail">
			  <h4>{{ profile.name }}</h4>
			  <small>{{ email }}</small>
			 </div>
			 <div class="row">
			  <div class="col-12">
			   <a title="facebook" href="#" class=" waves-effect waves-block"><i class="fab fa-facebook"></i></a>
			   <a title="twitter" href="#" class=" waves-effect waves-block"><i class="fab fa-twitter"></i></a>
			   <a title="instagram" href="#" class=" waves-effect waves-block"><i class="fab fa-instagram"></i></a>
			  </div>
			 </div>
			</div>
           </li>
           <li>
            <small class="text-muted"><a href="photo_profile_two.html">{{ posts_count }} Posts <em class="fa fa-angle-right pull-right"></em></a> </small><br/>
            <small class="text-muted"><a href="photo_followers.html">{{ friends }} Friends<em class="fa fa-angle-right pull-right"></em></a> </small><br/>
            <hr>
            <small class="text-muted">Bio: </small>
            <p>{{ profile.discription }}</p>
            <hr>
            <hr>
           </li>
          </ul>
         </aside>
		</div><!--/ col-lg-3-->

		<div class="col-lg-6" style="background: #fff;">
{% for c in cupons %}
		 <div class="row">
			 {% if c.0 %}
		  <div class="col-lg-6">
			 <a href="#myModal" data-toggle="modal">
			 <div class="explorebox"
			   style="background: linear-gradient( rgba(34,34,34,0.2), rgba(34,34,34,0.2)), url({% static 'assets/img/posts/14.jpg' %}) no-repeat;
					  background-size: cover;
					  background-position: center center;
						opacity: 0.8;
					  -webkit-background-size: cover;
					  -moz-background-size: cover;
					  -o-background-size: cover;">
			  <div class="explore-top">
			   <div class="explore-like"><i class="fa fa-heart"></i> <span></span></div>
				 	<center style="opacity: 1;">
						<a style="font-size:35px;">{{ c.0.offer.company_id }}</a><br/>
						<a style="font-size:35px;">{{ c.0.cupon.coupon_code }}</a><br/>
						<a style="font-size:25px;">Exp : {{ c.0.cupon.expiry_date }}</a><br/>
					</center>
			  </div>
			 </div>
			 </a>
		  </div>
			{% endif %}
			{% if c.1 %}
		  <div class="col-lg-6">
			 <a href="#myModal" data-toggle="modal">
			 <div class="explorebox"
			   style="background: linear-gradient( rgba(34,34,34,0.2), rgba(34,34,34,0.2)), url({% static 'assets/img/posts/15.jpg' %}) no-repeat;
					  background-size: cover;
						opacity: 0.8;
					  background-position: center center;
					  -webkit-background-size: cover;
					  -moz-background-size: cover;
					  -o-background-size: cover;">
			  <div class="explore-top">
			   <div class="explore-like"><i class="fa fa-heart"></i> <span></span></div>
				 <center style="opacity: 1;">
					 <a style="font-size:35px;">{{ c.1.offer.company_id }}</a><br/>
					 <a style="font-size:35px;">{{ c.1.cupon.coupon_code }}</a><br/>
					 <a style="font-size:25px;">Exp : {{ c.1.cupon.expiry_date }}</a><br/>
				 </center>
			  </div>
			 </div>
			 </a>
		  </div>
			{% endif %}

		 </div><!--/ row -->
{% endfor %}


		</div>
		<div class="col-lg-3">

         <div class="suggestion-box full-width">
			<div class="suggestions-list">
				{% if sfriends %}
				{% for sf in sfriends %}
				<div class="suggestion-body">
					<img class="img-responsive img-circle" src="data:image/jpeg;base64,{{ sf.photo }}" alt="Image">
					<div class="name-box">
						<h4>{{ sf.name }}</h4>
						<span>{{ sf.email }}</span>
					</div>
					<span id="{{ sf.email }}" onclick="fun1(this)"><i class="fa fa-eye"></i></span>
				</div>
				{% endfor %}
				{% endif %}
			</div><!--suggestions-list end-->
		</div>




		</div>

       </div><!--/ row-->
	  </div><!--/ container -->
	 </section><!--/ profile -->



{% endblock %}
